<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Subject: New Contact Form Submission
    <br>
    <br>
    Hello {{adminName}},
    <br>
    <br>
    A new message has been submitted through the contact form. Here are the details:
    <br>
    <br>
    Name: {{name}}
    <br>
    <br>
    Email: {{email}}
    <br>
    <br>
    Message: {{message}}
    <br>
    <br>
    Phone: {{phone}}
    <br>
    <br>
    Please respond to this inquiry.
    <br>
    <br>
    Thank you,
    <br>
    <br>
    Dhvani Foundation.
</body>
</html>